/* #red{

}

#Green{


}

#yellow{


}*/

.colourChart{
    height: 30px;
    width: 100px;
    background-color: grey;
}
#parent1{
    width: 296px;
    height: 147px;
    background-color: beige;
    padding-top: 25px;
    padding-left: 20opx;
}

.displaycolor{
    width: 400px;
    height: 200px;
    background-color:white;
    padding-top: 25px;
    padding-left: 20opx; 
}