 .common{
        background-color: cyan;
        margin:auto ;
        margin-top: 100px;  
        margin-left: 100x;
        margin-right: 100px;
        margin-bottom: 100%px;
        padding:  20%;
}
 