<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/sellingForm.css')}}">
</head>
<body>
    <div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Product Selling Form</h3>
                        <p>Fill in the data below.</p>
                        <!-- <form class="requires-validation" novalidate> -->

                            <div class="col-md-12">
                               <input class="form-control" type="text" name="productName" id="productName" placeholder="Product Name" required>
                               
                            </div>

                            <div class="col-md-12">
                                <input class="form-control" type="text" name="productPrice" id="productPrice" placeholder="Price of Product" required>
                            </div>



                           <div class="col-md-12">
                              <input class="form-control" type="file" id="productImage" name="productImage" required>
                           </div>
                            <div class="form-button mt-3">
                                <button id="submit" type="submit" onclick="submitData()" class="btn btn-primary">Submit To Sell!</button>
                            </div>
                        <!-- </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="{{url_for('static',filename='js/sellingForm.js')}}"></script>
</html>