#firstname{
   background-color:yellowgreen;
}

#lastname{
   background-color: blue;
}

#address{
background-color:pink;
}
#email{

    background-color:red;
}

#Hobbies{
    background-color: cornflowerblue;
    height:100px
}

.common{
    width:350px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20x;
    padding-left: 10px;
    padding-top: 10px;
}
