
.container{
    background-color: fuchsia;
     height: 1000px;
     width: 1000px;
     
 }
 .box{
     width: 100px;
     height: 100px;
     position: relative;
     animation-name:shan;
     animation-duration:3s;
     animation-iteration-count: 5;
     animation-direction: reverse;
 }
 @keyframes shan {
    0%{
        top:0px;
        left:0px
    }
    25%{
        top: 50px;
        left: 0px;
    }
    50%{
        top: 100px;
        left: 40px;
    }
 }    
       
 
 .red{
     background-color: red;
     height: 100px;
     width: 100px;
     position:relative;
     top: 20px;
     left: 20px;
 }
 .yellow{
     background-color: yellow;
     height: 100px;
     width: 100x;
     position: relative;
     top: -80px;
     left: 780px;
     
 }
 .green{
     
     background-color: green;
     height: 100px;
     width: 100x;
     position: relative;
     top: 582px;
     left: 20px;
     
 }
 .blue{
     background-color: blue;
     height: 100px;
     width: 100px;
     position: relative;
     top: 480px;
     left: 780px;

 }
 .pink{
    background-color: pink;
     height: 100px;
     width: 100px;
     position:relative;
     left: 217px;
     bottom: 161px;
 }
 .orange{
    background-color: orange;
     height: 100px;
     width: 100px;
     left: 217px;
     bottom: -21px;
     position: relative;
 }
 .aqua{
    background-color: aqua;
     height: 100pxpx;
     width: 100px;
     position: relative;
     left: 593px;
     bottom: 67px;
 }
 .brown{
   background-color: brown;
     height: 100px;
     width: 100px;
     position: relative;
     left: 593px;
     bottom: 450px;
     position: relative;
 }
 .chartreuse{
    background-color: chartreuse;
     height: 250px;
     width: 319px;
     bottom: 481px;
     left: 297px;
     position: relative;

 }
 .scrollable{
     height: 200vh;
 }
 

