body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    position: relative;
}

.boxes {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

#box-1 {
    background-color: rgb(10, 3, 207);
    position: relative;
    bottom: -520px;
    left: 0px;

}

#box-2 {
    background-color: rgb(238, 16, 53);
    position: fixed;
    top: 1.5%;
    right: 0.8%;
}

#box-3 {
    background-color: rgb(207, 180, 5);
    position: absolute;
    bottom: 35px;
    right: 35px;
}

#box-4 {
    background-color: rgb(65, 181, 19);
    position: sticky;
    top: 10px;
    margin-top: -400px;
}


.down {
    height: 100vh;
}

.circle {

    width: 500px;
    height: 500px;
    border-radius: 100%;
    background: linear-gradient(#ffffff,#ff0066);
    position: relative;
    top: 100px;
    left: 470px;
    padding: 10px;
}
/*  */
.container1{
    height: 60vh;
    width: 30vw;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    perspective: 1000px;
    position: relative;
    top: 253px;
    left: 240px;
}

.box{
    height: 250px;
    width: 250px;
    position: absolute;
    top: 100px;
    left: 100px;
    /* transform: rotate(-90deg); */
    transform-style: preserve-3d;
   /* transform: rotateY(130deg); */
   animation: animate 5s infinite;
}
@keyframes animate {
    0%{
       transform: rotateX(45deg) rotateY(-45deg); 
    }
    25%{
        transform: rotateX(-45deg) rotateY(-45deg);
    }
    50%{
        transform: rotateX(-45deg) rotateY(45deg);
    }
    75%{
        transform: rotateX(45deg) rotateY(-45deg);
    }
    100%{
        transform: rotateX(45deg) rotateY(-45deg);
    }
    
    
}

.card{
    height: 250px;
    width: 250px;
    text-align: center;
    padding: 100px 0px;
    color: white;
    background:black;
    border: 10px solid white ;
    font-size: 50px;
    box-sizing: border-box;
    position: absolute;
    transition: all 1s;
}

#front{
    transform: translateZ(125px);
    background-color: rgb(27, 240, 4);
    color: blue;
}

#back{
    transform: translateZ(-125px);
    background-color: rgb(231, 143, 12);
    color: blueviolet;
}
#left{
    right: 125px;
    transform: rotateY(-90deg);
    background-color: rgb(252, 252, 252);
    color: brown;
}

#right{
    left: 125px;
    transform: rotateY(90deg);
    background-color: rgba(237, 249, 9, 0.993);
    color: violet;
}

#top{
    bottom: 125px;
    transform: rotateX(90deg);
    background-color: rgb(253, 3, 3);
    color: rgb(0, 0, 0);
}

#bottom{
    top: 125px;
    transform: rotateX(-90deg);
    background-color: rgb(0, 191, 255);
    color: rgb(255, 92, 4);
}

input{
    height: 50px;
    width: 100px;
    background: red;
    border-radius: 12%;
    font-size: 22px;
    cursor: pointer;
    position: absolute;
    top: -100px;
    left: 155px;
}

input:focus~ .box #front{
    transform: translateZ(180px) rotateY(360deg);
}

input:focus~ .box #back{
    transform: translateZ(-180px) rotateY(360deg);
}

imput:focus~ .box #left{
    right: 180px;
}

input:focus~ .box #right{
    left: 180px;
}

input:focus~ .box #top{
    bottom: 180px;
}

input:focus~ .box #bottom{
    top: 180px;
}

button{
    height: 50px;
    width: 100px;
    background: red;
    border-radius: 12%;
    font-size: 22px;
    cursor: pointer;
    position: absolute;
    top: -100px;
    right: 55px;
}

