@import url('https://fonts.googleapis.com/css2?family=Genos&family=Lilita+One&family=Lora:ital@1&family=Sono:wght@600&family=Tiro+Devanagari+Marathi&family=Varela+Round&display=swap');
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}
.header{
    width: 97.5%;
    height: 60px;
    background-color: rgb(223, 227, 230);
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
}

/*  */
/* .sections{
    background-color: rgb(249, 252, 251);
    width: 100%;
    height: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 2%;
    margin-top: 110px;
    box-sizing: border-box;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
.box-s{
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    height: 140px;
    border-radius: 50%;
}
.box-s1{
    width: 100%;
    height: 70%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border-radius: 50px;
    /* background-color: #fff; */
}
h5{
    /* color: white; */
    text-align: center;
}
.imgbox{
    width: 100%;
    height: 100%;
} */


#brand{
    margin: 0;
    color: rgb(242, 86, 34);
    font-family: 'Genos', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Lilita One', cursive;
    font-family: 'Tiro Devanagari Marathi', serif;
    font-family: 'Sono', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-weight: 900;
}
ul{
    display: flex;
}
li{
    padding: 10px;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    font-family: cursive;
    font-weight: 900;
}
/*  */
.add{
    width: 100%;
    max-height: 300px;
    background-color: rgb(244, 247, 249);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 100px;
    /* column-gap: 10px; */
    
}
#box1{
    background-color: rgb(239, 225, 25);
    margin: 10px;
    max-height: 300px;
    /* background-image: url(images/firstI.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain; */
}
#Firstimg{
    width: 100%;
    height: 100%;
}

#box2{
    background-color: rgb(3, 185, 192);
    margin: 10px;
    max-height: 300px;
}
#Secondimg{
    width: 100%;
    height: 100%;
}

#box3{
    background-color: rgb(4, 1, 6);
    margin: 10px;
}
#Thirdimg{
    width: 100%;
    height: 100%;
    max-height: 300px;
}


/*  */
.main{
    display: grid;
    grid-template-columns: 1.1fr 4fr;
    /* height: 500px; */
    padding: 10px;
    column-gap: 10px;
    margin-top: 30px;
}
.catalog{
    background-color: rgb(250, 250, 250);
    
}
.listToSell{
    background-color: rgb(241, 235, 245);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 13px;
    row-gap: 10px;
    padding: 15px;
}
/*  */
.productbox{
    height: 500px;
    background-color: #fff;
    border-radius: 3px;
    padding: 15px;
}
.proImg{
    background-color: aqua;
    width: 80%;
    height: 65%;
    margin: auto;
    margin-top: 10px;
    border-radius: 6px;
    border: 2px solid rgb(101, 100, 100);
}

/* product images */
.proI{
    width: 100%;
    height: 100%;
}
/*  */
.price{
    text-align: center;
    margin-bottom: 5px;
}
p{
    text-align: center;
    margin-top: 2px;
}
.button{
    width: 100%;
    display: flex;
    justify-content: center;
}
button{
    justify-content: center;
    margin-top: 8px;
    height: 30px;
    font-family: cursive;
    font-weight: 900;
    background-color: rgb(40, 99, 239);
    color: #fff;
}
span{
    color: rgb(236, 201, 7);
}
/*  */
.brands{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: rgb(253, 251, 247);
}

.brand{
    background-color: transparent;
    width: 150px;
    height: 150px;
    margin-left: 13px;
    margin-right: 13px;
    /* border-radius: 20px; */
}
.brand :hover{
    scale: 1.2;
}
.brandimg{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

/* footer */
footer{
    margin-top: 30px;
    width: 100%;
    height: 220px;
    background-color: black;
    /* padding: 30px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.foothead{
    height: 50px;
    width: 230px;
    background-color: #fff;
    margin-left: -350px;
    margin-top: -100px;
}
.foothead >h1{
    text-align: center;
    padding: 5px;
}
#footul{
    list-style: none;
    flex-direction: column;
    margin-right: -150px;
}
#footul li{
    color: #fff;
    margin-bottom: -12px;
}

/*  */
#adds{
    position: sticky;
    background-color: red;
    width: 300px;
    height: 400px;
    top: 25%;
    left: 1.5%;
    margin-top: 30px;
}
.proImg1{
    width: 100%;
    height: 100%;
}